<!--
  Generated template for the AvaliacaoItensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{criterio?.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let item of itensDeAvaliacao; let i = index">

    <ion-card-header>

      <ion-card-title>Item {{i+1}}</ion-card-title>

      <ion-label text-wrap> <p>{{item.descricao}}</p></ion-label>

        <button
          ion-button
          mini
          clear
          icon-only
          (click)="alterarVisualizacaoObservacao(item,i)">
          <ion-icon
            [name]="mostrarObservacao(item,i)? 'ios-arrow-dropup-circle':'ios-arrow-dropdown-circle'">
          </ion-icon>
        </button>

      <!--Nesse button:-->
      <!--[disabled]="observacaoConforme[i] == false"-->


      <ion-row float-right>
          <button ion-button  round  small color="avaliacaoVermelho" [outline]="item.avaliacao !== 'vermelho'"
                  (click)="avaliarComo(item,'vermelho')"
          >
            <ion-icon name="close"></ion-icon>
          </button>
          <button ion-button  round small  color="avaliacaoAmarelo"  [outline]="item.avaliacao !== 'amarelo'"
                  (click)="avaliarComo(item,'amarelo')"
          >
            <ion-icon name="help"></ion-icon>
          </button>
          <button ion-button  round  small color="avaliacaoVerde"    [outline]="item.avaliacao !== 'verde'"
                  (click)="avaliarComo(item,'verde')"
          >
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-row>

      <ion-item no-lines *ngIf="mostrarObservacao(item,i)">
        <ion-label color="primary" stacked>Observação</ion-label>
        <ion-textarea class="md-no-underline" name="observacao" [(ngModel)]="item.observacao"></ion-textarea>
      </ion-item>

      <ion-row float-right *ngIf="mostrarObservacao(item,i)">
        <button ion-button mini round clear (click)="salvarObservacao(item, item.observacao)">Salvar</button>
      </ion-row>



    </ion-card-header>

  </ion-card>

</ion-content>
