<!--
  Generated template for the AvaliacaoItensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
    <!--<ion-title>{{criterio?.nome}}</ion-title>-->
  <!--</ion-navbar>-->

  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-left="" (click)="backClick()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{criterio?.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-image">
  <div class="browser-compat">

    <!--Avaliação Manual-->
    <ion-card *ngIf="avaliacaoService.newMostrarCardAvaliacaoManualCriterio(criterio)">

      <ion-card-header margin-left="45" margin-right="45" text-center="">
        <h2>Avaliação Manual de Critério</h2>
        <ion-note text-wrap>É obrigatória a definição manual da avaliação deste critério, devido aos itens pendentes</ion-note>
      </ion-card-header>

      <ion-card-content>

        <div text-center>
          <button
            ion-button round  small color="avaliacaoVermelho" [outline]="criterio.avaliacaoManual !== 'vermelho'"
            (click)="criterio.avaliacaoManual !== 'vermelho'? avaliarCriterioManual('vermelho'): avaliarCriterioManual(null)">
            <ion-icon name="close"></ion-icon>
          </button>

          <button
            ion-button round  small color="avaliacaoAmarelo" [outline]="criterio.avaliacaoManual !== 'amarelo'"
            (click)="criterio.avaliacaoManual !== 'amarelo'? avaliarCriterioManual('amarelo'): avaliarCriterioManual(null)">
            <ion-icon name="help"></ion-icon>
          </button>
        </div>


      </ion-card-content>

    </ion-card>

  <ion-card *ngFor="let item of itensDeAvaliacao; let i = index">

    <ion-card-header>

      <ion-card-title>Item {{i+1}}</ion-card-title>

      <ion-label text-wrap> <p>{{item.descricao}}</p></ion-label>

        <button
          ion-button
          mini
          clear
          icon-only
          (click)="alterarVisualizacaoObservacao(item,i)">
          <ion-icon
            [name]="getIconeShowObservacao(item,i)">
          </ion-icon>
        </button>

      <ion-row float-right>
          <button ion-button  round  small color="avaliacaoVermelho" [outline]="item.avaliacao !== 'vermelho'"
                  (click)="item.avaliacao !== 'vermelho'? avaliarComo(item,'vermelho') : avaliarComo(item, null)"
          >
            <ion-icon name="close"></ion-icon>
          </button>
          <button ion-button  round small  color="avaliacaoAmarelo"  [outline]="item.avaliacao !== 'amarelo'"
                  (click)="item.avaliacao !== 'amarelo'? avaliarComo(item,'amarelo') : avaliarComo(item, null)"
          >
            <ion-icon name="help"></ion-icon>
          </button>
          <button ion-button  round  small color="avaliacaoVerde"    [outline]="item.avaliacao !== 'verde'"
                  (click)="item.avaliacao !== 'verde'? avaliarComo(item,'verde') : avaliarComo(item, null)"
          >
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-row>

      <ion-item no-lines *ngIf="mostrarObservacao(item,i)">
        <ion-label color="primary" stacked>Observação</ion-label>
        <ion-textarea autosize class="md-no-underline text-area-observacao" name="observacao" [(ngModel)]="item.observacao" (ionChange)="observacaoOnChange(item.observacao,i)"></ion-textarea>
      </ion-item>

      <ion-row float-right *ngIf="mostrarObservacao(item,i)">
        <button ion-button mini round clear (click)="salvarObservacao(item, item.observacao, i)">Salvar</button>
      </ion-row>

    </ion-card-header>

  </ion-card>

  </div>
</ion-content>
