
<ion-header>

  <ion-navbar>
    <!--<ion-title>{{setor.sigla}}</ion-title>-->

    <ion-buttons end>
      <button ion-button icon-only (click)="editarSetor()">
        <ion-icon name="create"></ion-icon>
      </button>

      <button ion-button icon-only (click)="excluirSetor()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content pading class="bg-image">

  <div padding class="browser-compat">

    <ion-list-header showWhen="ios" text-center padding ion-text text-wrap><h2>{{setor.nome}}</h2><br><p>({{setor.sigla}})</p></ion-list-header>

    <ion-card padding  class="nome-setor" hideWhen="ios">
      <h2 text-center text-wrap>{{setor.nome}}</h2>
      <p text-center>({{setor.sigla}})</p>
    </ion-card>

    <ion-card>

      <ion-list>

        <ion-item *ngIf="setor.vinculo">
          <p>Vínculo</p>
          <h2>{{setor.vinculo}}</h2>
        </ion-item>

        <ion-item>
          <p>Nível Atual</p>
          <h2>{{setor.nivel? setor.nivel : "NA"}}</h2>
        </ion-item>

        <ion-item>
          <p>Líder de Processos</p>
          <h2>{{setor.lider? setor.lider : "Não especificado"}}</h2>
        </ion-item>

        <ion-item>
          <p>Email do Líder</p>
          <h2>{{setor.emailLider? setor.emailLider : "Não especificado"}}</h2>
        </ion-item>

        <ion-item>
          <p>Última Avaliação</p>
          <h2>{{setor.ultimaAvaliacao? setor.ultimaAvaliacao : "NA"}}</h2>
        </ion-item>

      </ion-list>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Histórico de Avaliações
      </ion-card-header>

      <ion-item *ngIf="(historico$ | async)?.length==0"><p text-center>O setor não possui avaliações anteriores</p></ion-item>

      <ion-list>

        <div *ngFor="let avaliacao of historico$ | async | reverse; let i = index">
          <ion-item *ngIf="mostrarHistoricoCompleto || (i <= 2)">

            <!--Caso ja tenha finalizado-->
            <div (click)="avaliacao.dataFim? verAvaliacaoAnterior(avaliacao):avaliarSetor()">
              <h3 ion-text [color]="avaliacao.dataFim? 'dark' : 'danger'">{{avaliacao.dataFim? avaliacao.nivelAtingido : 'Em andamento'}}</h3>
              <p>{{avaliacao.dataFim? avaliacao.dataFim: avaliacao.dataInicio}}</p>
            </div>



            <!--Botão de avaliação complementar-->
            <button small round outline ion-button item-end icon-right *ngIf="(avaliacao.dataFim && !avaliacao.dataFimAvaliacaoComplementar) && (i==0)" (click)="iniciarAvaliacaoComplementarClick(avaliacao)">
              Complementar
              <ion-icon color="danger" name="refresh"></ion-icon>
            </button>

          </ion-item>

        </div>


      </ion-list>

      <button ion-button clear small full *ngIf="(historico$ | async)?.length>3"
      (click)="verMaisMenosClick()">{{btnVerMaisMenosContent}}</button>

    </ion-card>
  </div>


  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="avaliarSetor()"><ion-icon name="clipboard"></ion-icon></button>
  </ion-fab>

</ion-content>
